# Import clipper data

# Geocoding for port cities

# Merging clipper data with port city location data

# Output dataframes to csv

In [ ]:
# import dependencies

import requests
import json
from pprint import pprint
import numpy

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import datetime 
import seaborn as sns

#Google developer API key
from config import gkey

In [3]:
# setup file path
clipper_file = "./clipper_crude_prices.csv"
print(clipper_file)

./clipper_crude_prices.csv

In [36]:
# read csv file
clipper_df = pd.read_csv(clipper_file, low_memory=False)
clipper_df.head()

,vessel_class,date,point,owner,PORT,country,region,area,area_descr,bbls,bbls_nominal,vessel_dwt,ton_miles,activity,week,month,year,brent,wti,delta
0,Aframax,10/29/2015,Pemex - Pajaritos Terminal,Pemex,MINATITLAN,MEXICO,CENTRAL AMERICA,ECMX,East Coast Mexico,554390,554390,107467,1114465403,Load,44,10,2015,46.02,48.04,-2.02
1,VLCC,10/29/2015,Ecopetrol - Covenas Terminal,Ecopetrol,COVENAS,COLOMBIA,LATIN AMERICA,CAR,Caribbean,2000000,2000000,321300,4318165261,Load,44,10,2015,46.02,48.04,-2.02
2,Aframax,11/19/2015,Northville Industries - Trans-Panama Pipeline ...,NIC Holding,CHARCO AZUL PUERTO ARMUELLES,PANAMA,CENTRAL AMERICA,WCSA,West Coast South America,780000,780000,115867,961367415.5,Load,47,11,2015,40.55,42.22,-1.67
3,VLCC,11/19/2015,BP - PSVM FPSO,BP,PSVM,ANGOLA,WEST AFRICA,WAF,West Africa,1059000,1059000,319430,1500531282,Load,47,11,2015,40.55,42.22,-1.67
4,VLCC,11/19/2015,KPC - Mina al Ahmadi SBM,KPC,MINA AL AHMADI,KUWAIT,ARAB GULF,AG,Arab Gulf,546915,546915,306999,945921995.6,Load,47,11,2015,40.55,42.22,-1.67

In [4]:
# Try the get request with only one city to test the code

#target_address = "SIDI KERIR"

gkey='AIzaSyAnifCVIxrcqiCAqHOXk-Xs5UV4Whk8nPc'

# Build the endpoint URL
# target_url = ('https://maps.googleapis.com/maps/api/geocode/json?address={0}&key={1}').format(target_address, gkey)
# geo_data = requests.get(target_url).json()
# pprint(geo_data["results"][0]["geometry"]["location"]["lat"])
# print(target_url)

29.7604267

In [6]:
port_cities = clipper_df.PORT.unique()
port_cities = port_cities.tolist()

#port_cities.index['PSVM']
#print (port_cities)
len(port_cities)

693

In [7]:
col_names=['lat','lng','city']
city_df = pd.DataFrame(columns=col_names)
city_df.head()

Empty DataFrame
Columns: [lat, lng, city]
Index: []

In [27]:
# Get request of googleapis to find lat lng for each port city in clipper dataset


# col_names=['city','lat','lng']
# city_df = pd.DataFrame(columns=col_names)
# validInput=False
# while not validInput:
#     try:
#         for i in port_cities:
#             url = ('https://maps.googleapis.com/maps/api/geocode/json?address={0}&key={1}').format(i, gkey)
#             geo_data = requests.get(url).json()
#             lat = geo_data["results"][0]["geometry"]["location"]["lat"]
#             lng = geo_data["results"][0]["geometry"]["location"]["lng"]
#             city = i
#             d = {'city':i,'lat':lat,'lng':lng}
#             city_df = city_df.append(d,ignore_index=True)
#             validInput=True
#     except:
#         print("this is not a city")

# list to store all cities that don't return a result
broken_cities = []

for i in port_cities:
    url = ('https://maps.googleapis.com/maps/api/geocode/json?address={0}&key={1}').format(i, gkey)
    geo_data = requests.get(url).json()
    try:
        lat = geo_data["results"][0]["geometry"]["location"]["lat"]
        lng = geo_data["results"][0]["geometry"]["location"]["lng"]
        city = i
        d = {'city':i,'lat':lat,'lng':lng}
        city_df = city_df.append(d,ignore_index=True)
    except:
        pass
        #broken_cities.extend(port_cities.index(i),ignore_index=True)

['lat', 'lng', 'city']

In [29]:
# Print the latitude and longitude
#     print(f"Location: {city}")
#     print(f"Latitude: {lat}")
#     print(f"Longitude: {lng}")

print(city_df)

list(city_df)

            lat         lng                          city
0     18.000546  -94.557285                    MINATITLAN
1      9.402597  -75.681642                       COVENAS
2      8.274279  -82.659146  CHARCO AZUL PUERTO ARMUELLES
3     29.085376   48.065471                MINA AL AHMADI
4     59.653383   28.269693                      UST-LUGA
5     34.760374  127.662222                         YEOSU
6      0.968179  -79.651720                    ESMERALDAS
7     21.200000  -91.966667                    CAYO ARCAS
8     44.715401   37.761967                  NOVOROSSIYSK
9     10.200798  -64.633464                PUERTO LA CRUZ
10    30.508103   47.783489                        BASRAH
11    42.822275  132.883404                      NAKHODKA
12    24.162591   52.606594                   JEBEL DHANA
13    -5.388006   12.206162          MALONGO OIL TERMINAL
14    -5.577520   12.192710                       CABINDA
15    29.840743   50.272105                      BAHREGAN
16    25.885066   51.536037                    RAS LAFFAN
17    49.282729 -123.120738                     VANCOUVER
18    36.871520    6.910181                        SKIKDA
19    35.220506  -80.857539                       UNKNOWN
20    24.879069   53.072766                  ZIRKU ISLAND
21    26.751636   49.905940                   AL JU AYMAH
22    26.773008   49.998236                    RAS TANURA
23    -0.735103    8.759131                   PORT GENTIL
24    26.630560  -78.230077            SOUTH RIDING POINT
25    51.943677    4.137950                     EUROPOORT
26    41.464621  -87.332086                         GAMBA
27    29.083128   48.133464          AL FUHAYHIL FAHAHEEL
28    23.624250   58.517249                 MINA AL FAHAL
29    41.616755   41.636746                        BATUMI
...         ...         ...                           ...
1088   1.470288  103.902969      PASIR GUDANG JOHOR BAHRU
1089  41.865334  -88.315956                       CAMPANA
1090  23.129110  113.264385                     GUANGZHOU
1091 -12.375729   13.561045                        LOBITO
1092   8.587364   81.215212                    TRINCOMALI
1093  24.479833  118.089425                        XIAMEN
1094  37.080643   14.230624                GELA TERRANOVA
1095  36.706962  119.161748                    WEIFANG PT
1096  34.654009  -77.470197                        ONSLOW
1097 -23.098501  -70.445504                    MEJILLONES
1098 -32.971795  137.745668                 PORT BONYTHON
1099  43.773445  -79.331153                      DONGSHAN
1100   4.051056    9.767869          KOLE TERMINAL DOUALA
1101  31.920658  120.284938                      JIANGYIN
1102  11.776897  -70.242321                         AMUAY
1103 -25.969248   32.573175                        MAPUTO
1104   1.082828  104.030453                  BATAM ISLAND
1105  40.735657  -74.172367                        NEWARK
1106   7.189766  100.595381                      SONGKHLA
1107  -6.208763  106.845599              JAKARTA DJAKARTA
1108  18.037325  -66.796287                    GUAYANILLA
1109  14.540433   49.127197                       MUKALLA
1110  41.028918  -73.630860                       SABETTA
1111  39.290385  -76.612189                     BALTIMORE
1112   5.852036  -55.203828                    PARAMARIBO
1113  42.134891  -75.908863                        BROOME
1114  39.532891   25.012158              AGIOS EFSTRATIOS
1115  42.292766  -71.040064                       VENEZIA
1116  46.042825  -73.112302                   SOREL-TRACY
1117  43.585181   45.000000                        KAVKAZ

[1118 rows x 3 columns]

['lat', 'lng', 'city']

In [30]:
# Create a list of cities that have lat lng data in googleapis

matched_cities = city_df['city']

In [31]:
# Create a function to match the lists of cities
# and generate a list of clipper "PORT" entries with no lat lng in googleapis

non_matched = []
def diff(li1,li2):
    return (list(set(li1) - set(li2)))

non_matched = diff(port_cities,matched_cities)

In [32]:
len(non_matched)

133

In [33]:
# Write out csv files of cities matched and un-matched
city_df.to_csv('./cities_lat_lng.csv', encoding='utf-8', header=True)

print(city_df)

            lat         lng                          city
0     18.000546  -94.557285                    MINATITLAN
1      9.402597  -75.681642                       COVENAS
2      8.274279  -82.659146  CHARCO AZUL PUERTO ARMUELLES
3     29.085376   48.065471                MINA AL AHMADI
4     59.653383   28.269693                      UST-LUGA
5     34.760374  127.662222                         YEOSU
6      0.968179  -79.651720                    ESMERALDAS
7     21.200000  -91.966667                    CAYO ARCAS
8     44.715401   37.761967                  NOVOROSSIYSK
9     10.200798  -64.633464                PUERTO LA CRUZ
10    30.508103   47.783489                        BASRAH
11    42.822275  132.883404                      NAKHODKA
12    24.162591   52.606594                   JEBEL DHANA
13    -5.388006   12.206162          MALONGO OIL TERMINAL
14    -5.577520   12.192710                       CABINDA
15    29.840743   50.272105                      BAHREGAN
16    25.885066   51.536037                    RAS LAFFAN
17    49.282729 -123.120738                     VANCOUVER
18    36.871520    6.910181                        SKIKDA
19    35.220506  -80.857539                       UNKNOWN
20    24.879069   53.072766                  ZIRKU ISLAND
21    26.751636   49.905940                   AL JU AYMAH
22    26.773008   49.998236                    RAS TANURA
23    -0.735103    8.759131                   PORT GENTIL
24    26.630560  -78.230077            SOUTH RIDING POINT
25    51.943677    4.137950                     EUROPOORT
26    41.464621  -87.332086                         GAMBA
27    29.083128   48.133464          AL FUHAYHIL FAHAHEEL
28    23.624250   58.517249                 MINA AL FAHAL
29    41.616755   41.636746                        BATUMI
...         ...         ...                           ...
1088   1.470288  103.902969      PASIR GUDANG JOHOR BAHRU
1089  41.865334  -88.315956                       CAMPANA
1090  23.129110  113.264385                     GUANGZHOU
1091 -12.375729   13.561045                        LOBITO
1092   8.587364   81.215212                    TRINCOMALI
1093  24.479833  118.089425                        XIAMEN
1094  37.080643   14.230624                GELA TERRANOVA
1095  36.706962  119.161748                    WEIFANG PT
1096  34.654009  -77.470197                        ONSLOW
1097 -23.098501  -70.445504                    MEJILLONES
1098 -32.971795  137.745668                 PORT BONYTHON
1099  43.773445  -79.331153                      DONGSHAN
1100   4.051056    9.767869          KOLE TERMINAL DOUALA
1101  31.920658  120.284938                      JIANGYIN
1102  11.776897  -70.242321                         AMUAY
1103 -25.969248   32.573175                        MAPUTO
1104   1.082828  104.030453                  BATAM ISLAND
1105  40.735657  -74.172367                        NEWARK
1106   7.189766  100.595381                      SONGKHLA
1107  -6.208763  106.845599              JAKARTA DJAKARTA
1108  18.037325  -66.796287                    GUAYANILLA
1109  14.540433   49.127197                       MUKALLA
1110  41.028918  -73.630860                       SABETTA
1111  39.290385  -76.612189                     BALTIMORE
1112   5.852036  -55.203828                    PARAMARIBO
1113  42.134891  -75.908863                        BROOME
1114  39.532891   25.012158              AGIOS EFSTRATIOS
1115  42.292766  -71.040064                       VENEZIA
1116  46.042825  -73.112302                   SOREL-TRACY
1117  43.585181   45.000000                        KAVKAZ

[1118 rows x 3 columns]

In [35]:
# save as csv file
#clipper_brent_wti.to_csv('C:/Users/Carlos.Maqueda/Desktop/Python/clipper_crude_prices.csv', encoding='utf-8', index=False)

# setup file path
#clipper_file = "clipper_crude_prices.csv"

# read csv file
#clipper_df = pd.read_csv(clipper_file, low_memory=False)
city_df.head()

         lat        lng                          city
0  18.000546 -94.557285                    MINATITLAN
1   9.402597 -75.681642                       COVENAS
2   8.274279 -82.659146  CHARCO AZUL PUERTO ARMUELLES
3  29.085376  48.065471                MINA AL AHMADI
4  59.653383  28.269693                      UST-LUGA

In [34]:
# create a copy of the dataframe with columns that match clipper_df

city_lat_lng_df = city_df.rename(columns = {"city":"PORT"})

city_lat_lng_df.head()

         lat        lng                          PORT
0  18.000546 -94.557285                    MINATITLAN
1   9.402597 -75.681642                       COVENAS
2   8.274279 -82.659146  CHARCO AZUL PUERTO ARMUELLES
3  29.085376  48.065471                MINA AL AHMADI
4  59.653383  28.269693                      UST-LUGA

In [38]:
## combine dataframes together, merge on PORT

clipper_lat_lng = pd.merge(clipper_df, city_lat_lng_df, on='PORT', how ='inner')
clipper_lat_lng.head()

,vessel_class,date,point,owner,PORT,country,region,area,area_descr,bbls,...,ton_miles,activity,week,month,year,brent,wti,delta,lat,lng
0,Aframax,10/29/2015,Pemex - Pajaritos Terminal,Pemex,MINATITLAN,MEXICO,CENTRAL AMERICA,ECMX,East Coast Mexico,554390,...,1114465403,Load,44,10,2015,46.02,48.04,-2.02,18.000546,-94.557285
1,Aframax,10/29/2015,Pemex - Pajaritos Terminal,Pemex,MINATITLAN,MEXICO,CENTRAL AMERICA,ECMX,East Coast Mexico,554390,...,1114465403,Load,44,10,2015,46.02,48.04,-2.02,18.000546,-94.557285
2,Aframax,12/10/2015,Pemex - Pajaritos Terminal,Pemex,MINATITLAN,MEXICO,CENTRAL AMERICA,ECMX,East Coast Mexico,500000,...,438154131,Load,50,12,2015,36.76,38.65,-1.89,18.000546,-94.557285
3,Aframax,12/10/2015,Pemex - Pajaritos Terminal,Pemex,MINATITLAN,MEXICO,CENTRAL AMERICA,ECMX,East Coast Mexico,500000,...,438154131,Load,50,12,2015,36.76,38.65,-1.89,18.000546,-94.557285
4,Aframax,12/21/2015,Pemex - Pajaritos Terminal,Pemex,MINATITLAN,MEXICO,CENTRAL AMERICA,ECMX,East Coast Mexico,500000,...,335481260.6,Load,52,12,2015,34.55,35.34,-0.79,18.000546,-94.557285

In [39]:
## Output clipper data with lat lng to a csv
clipper_lat_lng.to_csv('./clipper_and_lat_lng.csv', encoding='utf-8', index=False)